
android/bin/proguard.txt

SampleProject/bin/classes/com/demo/sampleproject/AppInfo.class

*.class

SampleProject/bin/classes/com/demo/sampleproject/BuildConfig.class

SampleProject/bin/classes/com/demo/sampleproject/BuildConfig.class

SampleProject/bin/classes/com/demo/sampleproject/MainActivity.class

SampleProject/bin/classes/com/demo/sampleproject/MainActivity.class

SampleProject/bin/classes/com/demo/sampleproject/R$array.class

SampleProject/bin/classes/com/demo/sampleproject/R$array.class

SampleProject/bin/classes/com/demo/sampleproject/R$attr.class

SampleProject/bin/classes/com/demo/sampleproject/R$attr.class

SampleProject/bin/classes/com/demo/sampleproject/R$color.class

SampleProject/bin/classes/com/demo/sampleproject/R$color.class

SampleProject/bin/classes/com/demo/sampleproject/R$dimen.class

SampleProject/bin/classes/com/demo/sampleproject/R$dimen.class

SampleProject/bin/classes/com/demo/sampleproject/R$drawable.class

SampleProject/bin/classes/com/demo/sampleproject/R$drawable.class

SampleProject/bin/classes/com/demo/sampleproject/R$id.class

SampleProject/bin/classes/com/demo/sampleproject/R$id.class

SampleProject/bin/classes/com/demo/sampleproject/R$layout.class

SampleProject/bin/classes/com/demo/sampleproject/R$layout.class

SampleProject/bin/classes/com/demo/sampleproject/R$menu.class

SampleProject/bin/classes/com/demo/sampleproject/R$menu.class

SampleProject/bin/classes/com/demo/sampleproject/R$raw.class

SampleProject/bin/classes/com/demo/sampleproject/R$raw.class

SampleProject/bin/classes/com/demo/sampleproject/R$string.class

SampleProject/bin/classes/com/demo/sampleproject/R$string.class

SampleProject/bin/classes/com/demo/sampleproject/R$style.class

SampleProject/bin/classes/com/demo/sampleproject/R$style.class

SampleProject/bin/classes/com/demo/sampleproject/R$xml.class

SampleProject/bin/classes/com/demo/sampleproject/R$xml.class

*.class

*.class

*.class

SampleProject/bin/classes/com/demo/sampleproject/R.class

SampleProject/bin/classes/com/demo/sampleproject/R.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/GaaHttpHandler.class

*.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/GaaValues$APPRO_TYPE.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/GaaValues$APPRO_TYPE.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/GaaValues.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/GaaValues.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/SaroHttpHandler.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/SaroHttpHandler.class

*.class

*.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/SaroValues$OBJECT_CODE.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/SaroValues$OBJECT_CODE.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/SaroValues.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/SaroValues.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/collection/SaroList.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/collection/SaroList.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/object/SaroEntry.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/object/SaroEntry.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/util/AsyncHttpHandler.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/util/AsyncHttpHandler.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/util/HttpHandler.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/util/HttpHandler.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/util/KabantayJsonAsyncHttpHandler.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/util/KabantayJsonAsyncHttpHandler.class

SampleProject/bin/classes/com/demo/sampleproject/saromgmt/SaroRetrieval.class

SampleProject/bin/classes/com/demo/sampleproject/saromgmt/SaroRetrieval.class

SampleProject/bin/classes/com/google/zxing/client/android/R$array.class

SampleProject/bin/classes/com/google/zxing/client/android/R$array.class

SampleProject/bin/classes/com/google/zxing/client/android/R$color.class

SampleProject/bin/classes/com/google/zxing/client/android/R$color.class

SampleProject/bin/classes/com/google/zxing/client/android/R$dimen.class

SampleProject/bin/classes/com/google/zxing/client/android/R$dimen.class

SampleProject/bin/classes/com/google/zxing/client/android/R$drawable.class

SampleProject/bin/classes/com/google/zxing/client/android/R$drawable.class

SampleProject/bin/classes/com/google/zxing/client/android/R$id.class

SampleProject/bin/classes/com/google/zxing/client/android/R$id.class

SampleProject/bin/classes/com/google/zxing/client/android/R$layout.class

SampleProject/bin/classes/com/google/zxing/client/android/R$layout.class

SampleProject/bin/classes/com/google/zxing/client/android/R$menu.class

SampleProject/bin/classes/com/google/zxing/client/android/R$menu.class

SampleProject/bin/classes/com/google/zxing/client/android/R$string.class

SampleProject/bin/classes/com/google/zxing/client/android/R$raw.class

SampleProject/bin/classes/com/google/zxing/client/android/R$xml.class

SampleProject/bin/classes/com/google/zxing/client/android/R$xml.class

SampleProject/bin/classes/com/google/zxing/client/android/R.class

SampleProject/bin/classes/com/google/zxing/client/android/R.class

SampleProject/bin/classes/com/demo/sampleproject/ProjectInfo.class

bin/
gen/

.dex
local.properties
proguard/

.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.jar

*.class

android/bin/classes/com/google/zxing/client/android/CaptureActivity.class

android/bin/classes/com/google/zxing/client/android/CaptureActivity.class

android/bin/classes/com/google/zxing/client/android/DecodeHandler.class

android/bin/classes/com/google/zxing/client/android/DecodeHandler.class

android/bin/classes/com/google/zxing/client/android/DecodeHintManager.class

android/bin/classes/com/google/zxing/client/android/DecodeHintManager.class

android/bin/classes/com/google/zxing/client/android/HelpActivity.class

android/bin/classes/com/google/zxing/client/android/HelpActivity.class

android/bin/classes/com/google/zxing/client/android/HttpHelper.class

android/bin/classes/com/google/zxing/client/android/HttpHelper.class

android/bin/captureactivity.jar

android/bin/captureactivity.jar

android/bin/classes/com/google/zxing/client/android/book/SearchBookContentsActivity$NetworkTask.class

android/bin/classes/com/google/zxing/client/android/book/SearchBookContentsActivity$NetworkTask.class

android/bin/classes/com/google/zxing/client/android/book/SearchBookContentsListItem.class

android/bin/classes/com/google/zxing/client/android/book/SearchBookContentsListItem.class

android/bin/classes/com/google/zxing/client/android/camera/CameraConfigurationManager.class

android/bin/classes/com/google/zxing/client/android/camera/CameraConfigurationManager.class

android/bin/classes/com/google/zxing/client/android/encode/EncodeActivity.class

android/bin/classes/com/google/zxing/client/android/encode/EncodeActivity.class

android/bin/classes/com/google/zxing/client/android/encode/QRCodeEncoder.class

android/bin/classes/com/google/zxing/client/android/encode/QRCodeEncoder.class

android/bin/classes/com/google/zxing/client/android/history/HistoryActivity.class

android/bin/classes/com/google/zxing/client/android/history/HistoryActivity.class

android/bin/classes/com/google/zxing/client/android/history/HistoryManager.class

android/bin/classes/com/google/zxing/client/android/history/HistoryManager.class

android/bin/classes/com/google/zxing/client/android/result/CalendarResultHandler.class

android/bin/classes/com/google/zxing/client/android/result/CalendarResultHandler.class

android/bin/classes/com/google/zxing/client/android/result/supplement/AmazonInfoRetriever.class

android/bin/classes/com/google/zxing/client/android/result/supplement/AmazonInfoRetriever.class

android/bin/classes/com/google/zxing/client/android/result/supplement/BookResultInfoRetriever.class

android/bin/classes/com/google/zxing/client/android/result/supplement/BookResultInfoRetriever.class

android/bin/classes/com/google/zxing/client/android/share/ShareActivity.class

android/bin/classes/com/google/zxing/client/android/share/ShareActivity.class

android/bin/classes/com/google/zxing/client/android/wifi/WifiConfigManager.class

android/bin/classes/com/google/zxing/client/android/wifi/WifiConfigManager.class
