
android/bin/proguard.txt

SampleProject/bin/classes/com/demo/sampleproject/AppInfo.class

*.class

SampleProject/bin/classes/com/demo/sampleproject/BuildConfig.class

SampleProject/bin/classes/com/demo/sampleproject/BuildConfig.class

SampleProject/bin/classes/com/demo/sampleproject/MainActivity.class

SampleProject/bin/classes/com/demo/sampleproject/MainActivity.class

SampleProject/bin/classes/com/demo/sampleproject/R$array.class

SampleProject/bin/classes/com/demo/sampleproject/R$array.class

SampleProject/bin/classes/com/demo/sampleproject/R$attr.class

SampleProject/bin/classes/com/demo/sampleproject/R$attr.class

SampleProject/bin/classes/com/demo/sampleproject/R$color.class

SampleProject/bin/classes/com/demo/sampleproject/R$color.class

SampleProject/bin/classes/com/demo/sampleproject/R$dimen.class

SampleProject/bin/classes/com/demo/sampleproject/R$dimen.class

SampleProject/bin/classes/com/demo/sampleproject/R$drawable.class

SampleProject/bin/classes/com/demo/sampleproject/R$drawable.class

SampleProject/bin/classes/com/demo/sampleproject/R$id.class

SampleProject/bin/classes/com/demo/sampleproject/R$id.class

SampleProject/bin/classes/com/demo/sampleproject/R$layout.class

SampleProject/bin/classes/com/demo/sampleproject/R$layout.class

SampleProject/bin/classes/com/demo/sampleproject/R$menu.class

SampleProject/bin/classes/com/demo/sampleproject/R$menu.class

SampleProject/bin/classes/com/demo/sampleproject/R$raw.class

SampleProject/bin/classes/com/demo/sampleproject/R$raw.class

SampleProject/bin/classes/com/demo/sampleproject/R$string.class

SampleProject/bin/classes/com/demo/sampleproject/R$string.class

SampleProject/bin/classes/com/demo/sampleproject/R$style.class

SampleProject/bin/classes/com/demo/sampleproject/R$style.class

SampleProject/bin/classes/com/demo/sampleproject/R$xml.class

SampleProject/bin/classes/com/demo/sampleproject/R$xml.class

*.class

*.class

*.class

SampleProject/bin/classes/com/demo/sampleproject/R.class

SampleProject/bin/classes/com/demo/sampleproject/R.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/GaaHttpHandler.class

*.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/GaaValues$APPRO_TYPE.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/GaaValues$APPRO_TYPE.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/GaaValues.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/GaaValues.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/SaroHttpHandler.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/SaroHttpHandler.class

*.class

*.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/SaroValues$OBJECT_CODE.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/SaroValues$OBJECT_CODE.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/SaroValues.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/SaroValues.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/collection/SaroList.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/collection/SaroList.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/object/SaroEntry.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/object/SaroEntry.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/util/AsyncHttpHandler.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/util/AsyncHttpHandler.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/util/HttpHandler.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/util/HttpHandler.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/util/KabantayJsonAsyncHttpHandler.class

SampleProject/bin/classes/com/demo/sampleproject/datahandler/util/KabantayJsonAsyncHttpHandler.class

SampleProject/bin/classes/com/demo/sampleproject/saromgmt/SaroRetrieval.class

SampleProject/bin/classes/com/demo/sampleproject/saromgmt/SaroRetrieval.class

SampleProject/bin/classes/com/google/zxing/client/android/R$array.class

SampleProject/bin/classes/com/google/zxing/client/android/R$array.class

SampleProject/bin/classes/com/google/zxing/client/android/R$color.class

SampleProject/bin/classes/com/google/zxing/client/android/R$color.class

SampleProject/bin/classes/com/google/zxing/client/android/R$dimen.class

SampleProject/bin/classes/com/google/zxing/client/android/R$dimen.class

SampleProject/bin/classes/com/google/zxing/client/android/R$drawable.class

SampleProject/bin/classes/com/google/zxing/client/android/R$drawable.class

SampleProject/bin/classes/com/google/zxing/client/android/R$id.class

SampleProject/bin/classes/com/google/zxing/client/android/R$id.class

SampleProject/bin/classes/com/google/zxing/client/android/R$layout.class

SampleProject/bin/classes/com/google/zxing/client/android/R$layout.class

SampleProject/bin/classes/com/google/zxing/client/android/R$menu.class

SampleProject/bin/classes/com/google/zxing/client/android/R$menu.class

SampleProject/bin/classes/com/google/zxing/client/android/R$string.class

SampleProject/bin/classes/com/google/zxing/client/android/R$raw.class

SampleProject/bin/classes/com/google/zxing/client/android/R$xml.class

SampleProject/bin/classes/com/google/zxing/client/android/R$xml.class

SampleProject/bin/classes/com/google/zxing/client/android/R.class

SampleProject/bin/classes/com/google/zxing/client/android/R.class

SampleProject/bin/classes/com/demo/sampleproject/ProjectInfo.class
